---
  apiVersion: metallb.io/v1beta1
  kind: IPAddressPool
  metadata:
    name: first-pool
    namespace: metallb-system
  spec:
    addresses:
    {% for item in mlb.ips %}
    - {{ item }}
    {% endfor %}
